.container.stem-leaf-app
  .row
    .col-md-4
      label Enter numbers separated by spaces followed by hitting enter.
      input.form-control.plot-input(type='text')
      .plot-results
        table.table
          thead
            tr
              th Stem
              th Leaf
          tbody
  footer.row
    em.pull-right Developed for Beenish from Brian McVeigh

